<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout/main}"
        lang="zh">
<body th:replace="::body (current = '订单管理')">
<div
        layout:fragment="content">
    <div class="container grid px-6 mx-auto">
        <h2
                class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
        >
            操作成功！
        </h2>

        <a href="/order">
            <button
                    class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            >
                返回订单列表
            </button>
        </a>
    </div>
</div>
</body>
</html>
